@* // bootstrap design *@

@model emailSend.Models.MailModel;

@{
    ViewBag.Title = "Email Form";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Email Form</h2>
            <form asp-action="SendEmail" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" asp-for="To" placeholder="Enter email">

                    <label for="subject">Subject</label>

                    <input type="text" class="form-control" id="subject" asp-for="Subject" placeholder="Enter subject">

                    <label for="message">Message</label>

                    <textarea class="form-control" id="message" asp-for="Body" placeholder="Enter message"></textarea>

                    <button type="submit" class="btn btn-primary mt-2">Send Email</button>

                </div>
            </form>
        </div>
    </div>
</div>